
Client/.idea/caches/build_file_checksums.ser
Client/.idea/gradle.xml
Client/.idea/misc.xml
Client/.idea/runConfigurations.xml
Client/.idea/vcs.xml
Server/PhysicExperiment/BLL/bin/Debug/DAL.pdb
Server/PhysicExperiment/BLL/bin/Debug/DAL.dll.config
Server/PhysicExperiment/BLL/bin/Debug/DAL.dll
Server/PhysicExperiment/BLL/bin/Debug/BLL.pdb
Server/PhysicExperiment/BLL/bin/Debug/BLL.dll.config
Server/PhysicExperiment/BLL/bin/Debug/BLL.dll
Server/PhysicExperiment/BLL/obj/Debug/BLL.pdb
Server/PhysicExperiment/BLL/obj/Debug/BLL.dll
Server/PhysicExperiment/BLL/obj/Debug/BLL.csprojResolveAssemblyReference.cache
Server/PhysicExperiment/DAL/bin/Debug/DAL.dll
Server/PhysicExperiment/DAL/bin/Debug/DAL.dll.config
Server/PhysicExperiment/DAL/bin/Debug/DAL.pdb
Server/PhysicExperiment/DAL/obj/Debug/DAL.pdb
Server/PhysicExperiment/DAL/obj/Debug/DAL.dll
